# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/
# vscode IDE
.vscode/
# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

#file
project.private.config.json